.vert {
	color: #008000;
}
.vert {
	color: #008000;
}

.card {
	width: 100%;

}

.toggleCv {
	display: none;
	/*visibility: hidden;*/
}

.toggledCv {
	display: block;
}

.black {
	color: black;
}

.logow{
	width: 50%;
}

.border {
	border: solid black 1px;
}

.borderBottom {
	border-bottom: solid #2196F3 2px;
}

.bigtitle {
	font-size: 2em
}



.title {
	font-family: 'Lobster', cursive;
	
}

.titleCv  {
	font-family: 'Lobster', cursive;
	border-left: solid #2196F3 20px;
	color: #2196F3;
	font-size: 3em;
}

.titleWork  {
	/*font-family: 'Lobster', cursive;*/
	color: #2196F3;
	font-size: 2em;
	/*border-bottom: solid #2196F3 2px;*/
	text-align: center;
}

.action {
    position: absolute;
    -ms-transform: translate(-50%, -100%);
    -webkit-transform: translate(-50%, -100%);
    transform: translate(-50%, -100%);
    /*float: right*/

}

/*footer {
	position: fixed; 
	bottom: 0px; 
	width: 100%;
}*/

